.custom-styles{
  --ReactInputVerificationCode-itemWidth: 50px;
  --ReactInputVerificationCode-itemHeight: 50px;
  --ReactInputVerificationCode-itemSpacing: 0.5rem;
}
Tab{
  color: red;
}
@media (max-width: 640px) {
  .custom-styles{
  --ReactInputVerificationCode-itemWidth: 40px;
  --ReactInputVerificationCode-itemHeight: 40px;
  }
}
